label {
	font-size: 17px;
}
select {
	-webkit-appearance: none;
	margin: 5px;
	background-color: /*#0563af*/white;
	color: black;
	padding: 0px 7px;
	width: 100px;
	height: 30px;
	border: none;
	border-color: black;
	font-size: 15px;
	box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	background-image: url('../images/arrowlist.png'),linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
/*Picture buttons*/
button {
	cursor:pointer;
}
button.disabled {
	cursor:auto;
}
#controls {
  	width: 350px;
  	height: 100px;
  	/*padding-left: 85px;*/
  	position: absolute;
  	left: 50%;
  	top: 300px;/*Change according to picture*/
  	transform: translate(-50%, -50%);
}
#list {
	position: relative;
	width: 170px;
	left: 55%;
	top:-85px;
}
#zoom {
	position: relative;
	width: 100px;
	left:50px;
	/*margin: auto;*/
}
.button {
	-webkit-transition: background-image 0.3s;
	-moz-transition: background-image 0.3s;
	-o-transition: background-image 0.3s;
	-ms-transition: background-image 0.3s;
	transition: background-image 0.3s;
}
.arrow {
	background-image: url('../images/Arrow.png');
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent; 
	border-color:transparent;
	height:25px;
	width:25px;
}
.center {
	background-color:transparent; 
	border-color:transparent;
	height:25px;
	width:25px;
}
.zoomin {
	background-image: url('../images/Zoomin.png'); 
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent; 
	border-color:transparent;
	height:30px;
	width:30px;
}
.zoomout {
	background-image: url('../images/Zoomout.png'); 
	background-position:center;
	background-repeat:no-repeat;
	background-color:transparent; 
	border-color:transparent;
	height:30px;
	width:30px;
}
.up-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}
.up {
	transform: rotate(180deg);
  	-webkit-transform: rotate(180deg);
}
.up-right {
	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
}
.left {
	transform: rotate(90deg);
  	-webkit-transform: rotate(90deg);
}
.right {
	transform: rotate(-90deg);
 	-webkit-transform: rotate(-90deg);
}
.down-left {
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}
.down {
	transform: rotate(0deg);
  	-webkit-transform: rotate(0deg);
}
.down-right {
	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
}
.zoomin:hover {
	background-image: url('../images/ZoominHover.png');
}
.zoomout:hover {
	background-image: url('../images/ZoomoutHover.png');
}
.arrow:hover {
	background-image: url('../images/ArrowHover.png');
}
button:focus {
	outline:none;
}
.up-left:active {
	transform: translate(-3px,-3px) rotate(135deg);
        -webkit-transform: translate(-3px,-3px) rotate(135deg);
}
.up:active {
	transform: translateY(-5px) rotate(180deg);
  	-webkit-transform: translateY(-5px) rotate(180deg);
}
.up-right:active {
	transform: translate(3px,-3px) rotate(-135deg);
  	-webkit-transform: translate(3px,-3px) rotate(-135deg);
}
.left:active {
	transform: translateX(-5px) rotate(90deg);
	-webkit-transform: translateX(-5px) rotate(90deg);
}
.right:active {
	transform: translateX(5px) rotate(-90deg);
 	-webkit-transform: translateX(5px) otate(-90deg);
}
.down-left:active {
  	transform: translate(-3px,3px) rotate(45deg);
  	-webkit-transform: translate(-3px,3px) rotate(45deg);
}
.down:active {
	transform: translateY(5px);
  	-webkit-transform: translateY(5px);
}
.down-right:active {
	transform: translate(3px,3px) rotate(-45deg);
  	-webkit-transform: translate(3px,3px) rotate(-45deg);
}
.zoomin:active {
	transform: scale(0.9);
  	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
}
.zoomout:active {
	transform: scale(0.9);
  	-webkit-transform: scale(0.9);
  	-ms-transform: scale(0.9);
}
img {
  	display: block;
  	margin-left: auto;
 	margin-right: auto;
}