<!doctype html>
<html>
	<head>
		<title>Video streaming</title>
		<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
		<link href="static/css/styles.css" rel="stylesheet">	  
	</head>
	<body>
		<img src="{{ url_for('show_video') }}" alt="VideoStreaming">
		<form>
			<div id="controls">
				<br>
				<button id="up-left" class="button arrow up-left"></button>
				<button id="up" class="button arrow up"></button>
				<button id="up-right" class="button arrow up-right"></button>
				<br>
				<button id="left" class="button arrow left"></button>
				<button disabled class="center disabled"><b></b></button>
				<button id="right" class="button arrow right"></button>
				<br>
				<button id="down-left" class="button arrow down-left"></button>
				<button id="down" class="button arrow down"></button>
				<button id="down-right" class="button arrow down-right"></button>
				<div id="list">
					<div id="zoom">
						<button id="zoomin" class="button zoomin"></button>
						<button disabled class="center disabled"><b></b></button>
						<button id="zoomout" class="button zoomout"></button>
					</div>
					<br>
					<label for="preset">Go to:</label>
					<select id="preset">
						<option selected>Select...</option>
						<option>Home</option>
						<option>Qube</option>
						<option>Robot</option>
						<option>PosCtr</option>
						<option>Cocas</option>
						<option>TakePos</option>
						<option>Pendulum</option>
					</select>
				</div>
			</div>
		</form>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="static/js/script.js"></script>
	</body>
</html>	
